body {
  background-image: url(http://www.ieee802.org/1/images/bg-paper-with-binder-1800.jpg);
  margin-left: 5%; margin-right: 5%; }
.hidden { display: none }
ul.middle0 {
 	font: 12pt/14pt serif;
 	margin-right: 1%;
 	margin-left: 1% }
ul.middle2 {
 	font: 12pt/14pt serif;
 	margin-right: 10%;
 	margin-left: 10% }
li.middle0 {
 	font: 12pt/14pt serif;
 	margin-right: 1%;
 	margin-left: 1% }
p.middle0 {
 	font: 12pt/14pt serif;
 	margin-right: 5%;
 	margin-left: 5%;
	text-align: justify }
p.middle {
 	font: 12pt/14pt serif;
 	margin-right: 7.5%;
 	margin-left: 7.5%;
	text-align: justify }
p.middle2 {
 	font: 10pt/12pt serif;
 	margin-right: 10%;
 	margin-left: 10%;
	text-align: justify }
p.normal {
 	font: 12pt/14pt serif;
	text-align: justify }
h1.middle0 {
 	margin-right: 5%;
 	margin-left: 5%;
	text-align: justify }
h2.middle0 {
 	margin-right: 5%;
 	margin-left: 5%;
	text-align: justify }
h3.middle0 {
 	margin-right: 5%;
 	margin-left: 5%;
	text-align: justify }
